* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', Times, serif;
}
body {
    height: 100vh;
}
nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #FF0077;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s;
}
nav.menu-lateral:hover {
    width: 300px;
}
.btn-expandir {
    width: 100%;
    padding-left: 10px;
}
.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
ul {
    height: 100%;
    list-style-type: none;
}
ul li.item-menu {
    transition: 1s;
}
ul li.item-menu:hover {
    background: #FF0077;
}
ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link {
    margin-left: 40px;

}
ul li.item-menu a .icon > i {
    font-size: 20px;
    margin-left: 10px;
}
.site {
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    background-image: url(fundo.jpeg);
    padding: 40px;
    }
h1 {
    text-align: center;
    font-size: 50px;
    padding: 15px;
    color: white;
}
h2 {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    color: rgba(20, 88, 133, 0.781);
}